/* 
  styles that need to be in the same page :
  style.css
*/

h1{
    border: 1px solid white ;
    border-left: 20px solid black;
    border-right: 20px solid black;
}

#cover{
    background-color: black;
}
#cover img{
    width: 600px;
    margin: auto;
}
#side{
    background-color: black;
}

#content{
    background-color: black;
}

#content table td:first-child{
    border-left-color: rgb(246, 246, 246);
}
#content table td:last-child{
    background-color: rgb(22, 22, 22);
}

div{
    color : white;
}
a{
    color : white;
}

#nav{
    background-color: black;
}
#foot {
    background-color: black;
}

.rounded-circle{
    border-color: white;
}
