/* 
  styles that need to be in the same page :
  style.css
*/

h2{
    border:solid 1px black;
    box-shadow: 3px 3px #888888;
}

#cover img{
    width: 600px;
    margin: auto;
}
#content table td:first-child{
    border-left-color: black;
}
#content table td:last-child{
    color: black;
    font-weight: bold;
}

div{
    color : black;
}
a{
    color : black;
}

.rounded-circle{
    border-color: black;
}

input{
    box-shadow: 2px 2px #888888;
}
.liwhitecss{
    background:black;
    color:white;
}

.gimg{
    border-color: white;
    background-color: black;
}